#cham_soc_page {
    background-image: url('../img/cty/services/cham_soc_page.jpg');
    background-repeat : round;
    background-size: auto 100%;
    position: relative;
    
}

#thiet_ke_hinh_anh_theo_yeu_cau {
    color: white;
    background-image: url('../img/cty/services/thiet_ke_hinh_anh_theo_yeu_cau.jpg');
    background-repeat : round;
    background-size: auto 100%;
    position: relative;
    
}

#content_chuan_seo {
    background-image: url('../img/cty/services/content_chuan_seo.jpg');
    background-repeat : round;
    background-size: auto 100%;
    position: relative;
    
}

#quang_cao_da_nen_tang {
    background-image: url('../img/cty/services/quang_cao_da_nen_tang.jpg');
    background-repeat : round;
    background-size: auto 100%;
    position: relative;
}

#thiet_ke_website {
    background-image: url('../img/cty/services/thiet_ke_web.jpg');
    background-repeat : round;
    background-size: auto 100%;
    position: relative;
}

#thiet_ke_bo_phan_thuong_hieu {
    background-image: url('../img/cty/services/thiet_ke_bo_phan_thuong_hieu.jpg');
    background-repeat : round;
    background-size: auto 100%;
    position: relative;
}

.mask-service {
    position: absolute;
    height: 30%;
    width: 100%;
    background: #067cfd;
    opacity: 0.8;
    bottom: 0;
    transition: height 1s;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#cham_soc_page .text-content, 
#content_chuan_seo .text-content, 
#thiet_ke_hinh_anh_theo_yeu_cau .text-content, 
#quang_cao_da_nen_tang .text-content,
#thiet_ke_website .text-content,
#thiet_ke_bo_phan_thuong_hieu .text-content
{
    position: absolute;
    z-index: 99;
    bottom: 5%;
    transition: bottom 1s;
}

#cham_soc_page:hover .mask-service, 
#content_chuan_seo:hover .mask-service, 
#thiet_ke_hinh_anh_theo_yeu_cau:hover .mask-service, 
#quang_cao_da_nen_tang:hover .mask-service ,
#thiet_ke_website:hover .mask-service, 
#thiet_ke_bo_phan_thuong_hieu:hover .mask-service
{
    height: 100%;
    border-radius: 15px;
}

#cham_soc_page:hover .text-content,
#content_chuan_seo:hover .text-content,
#thiet_ke_hinh_anh_theo_yeu_cau:hover .text-content,
#quang_cao_da_nen_tang:hover .text-content,
#thiet_ke_website:hover .text-content,
#thiet_ke_bo_phan_thuong_hieu:hover .text-content 
{
    bottom: 40%;
}



/* ********************************** */
#top-menu {
    z-index: 3;
    width: 100%;
}

.carousel-item {
    height: 100%;
}
.carousel-item img {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    text-align: left !important;
}

h1.display-1.text-white.mb-md-4.animated.zoomIn {
    text-shadow: 0px 0px 4px #0335c3 !important;
}

.text-align-justify {
    text-align: justify;
}

.owl-carousel.testimonial-carousel.wow.fadeInUp.owl-loaded.owl-drag {
    padding: 70px !important;
}

.section-title.text-center.position-relative.pb-3.mb-4.mx-auto {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}